.inner-Container{
    gap: 20px;
    background: #4161df;
    padding: 20px;
    border-radius: 10px;
    bottom: 6px solid #5d77d6;
    text-align: center;
    margin-left: 200px;
}
.inner-Container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-Container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}
.inner-Container .button{
    background: #5a73d7;
    border:2px solid white ;
    box-shadow: var(--shadow);
    border-radius: 7px;
}
@media (max-width:768px) {
    .g-wrapper{
        margin-left: -200px;
    }
    .g-container{
        justify-content: center;
        width: max-content;
        
        padding: 30px;
    }
    .g-container{
        align-items: center!important;
        text-align: center;
    }
}


